@model IEnumerable<Study_Crud.Models.Entity.Classes>
@{
    ViewData["Title"] = "Index";
}
<h1>Classes</h1>

<form method="post" asp-action="Index">
    <div class="row">
        <input type="search" class="form-control col-md-4" placeholder="Enter Classes Name...." value="@ViewData["GetClassesDetails"]" name="ClassesSearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary col-md-2" style="margin-left:20px;" />

        <a asp-action="Index" class="col-md-2">
            <button type="button" class="btn btn-primary " data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                Get all Class
            </button>
        </a>
    </div>
</form>


<div class="row">

    <a href="Classses/AddClasses" style="margin-left: -10px;margin-top: 10px;">
        <button type="button" class="btn btn-primary">
            Create New Classes
        </button>
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Capasity)
                </th>
                <th>
                    @Html.DisplayName("Class Nomer")
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capasity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.class_nomer)
                    </td>

                    <td>
                        <a asp-action="AddClasses" asp-route-id="@item.Id">
                            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                                Edit
                            </button>
                        </a> |
                        <a href="#">
                            <button type="button"
                                class="btn btn-danger"
                                data-mdb-ripple-color="dark">
                                @Html.ActionLink("Delete","DeleteClasses",
                            new { Id = item.Id},
                            new { onclick = "return confirm('Are sure wants to Detele?');" })
                            </button>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
