@model Study_Crud.Models.Entity.Student
@{
    ViewData["Title"] = "Create";
}

<div class="container col-md-8">
    <div class="row mb-4"  style="padding-bottom:12px">
        <h3>New Student</h3>
    </div>
    <form method="post" action="AddStudent" >
         @Html.HiddenFor(m=>m.Id)
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4" >
            <div class="col">
                <div class="form-outline">
                    <label>First Name</label>
                    <input type="text" name="FirstName" value="@Model.FirstName" maxlength="15" class="form-control" placeholder="FirstName" required />
                </div>
                <div class="form-outline">
                      <label>Last Name</label>
                    <input type="text" name="LastName" value="@Model.LastName" maxlength="15" class="form-control" placeholder="LastName" required />
                </div>
                <div class="form-outline">
                     <label>BirthDay</label>
                    <input type="date" name="BirthDay" value="@Model.BirthDay" maxlength="15" class="form-control" placeholder="BithDay" required />
                </div>
                <div class="form-outline">
                     <label>Direction</label>
                    <input type="text" name="Direction" value="@Model.Direction" maxlength="15" class="form-control" placeholder="Direction" required />
                </div>
                <div class="form-outline">
                     <label>Cource</label>
                    <input type="text" name="Cource" value="@Model.Cource" maxlength="15" class="form-control" placeholder="Cource" required />
                </div>
                <div class="form-outline">
                    <label>Subject Name</label>
                    @Html.DropDownList("SubjectId", new SelectList(ViewBag.SubjectList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="row mb-4" style="padding:12px">
                @if (Model.Id == 0)
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Add Student</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-block mb-4">Update Student</button>
                }
            </div>
        </div>
    </form>
</div>
