@model IEnumerable<Study_Crud.Models.ViewModel.StudentViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Students</h1>

<div class="row">
 <form method="post" asp-action="Index">
        <div class="row">
            <input type="search" class="form-control col-md-4" placeholder="Enter Student FirstName or LastName...." value="@ViewData["GetStudentDetails"]" name="StudentSearch" style="width:500px;" />
            <input type="submit" value="Search" class="btn btn-primary col-md-2" style="margin-left:20px;" />

            <a asp-action="Index" class="col-md-2">
                <button type="button" class="btn btn-primary ">
                    Get all Student
                </button>
            </a>
        </div>
    </form>

    <a href="Student/AddStudent" style="margin-left: -10px;margin-top: 10px;">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
            Create New Student
        </button>
    </a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                 <p class="fw-normal mb-1">@item.BirthDay.ToString("dd/MM/yyyy")</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cource)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                <a asp-action="AddStudent" asp-route-id="@item.Id"><button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
           Edit
        </button></a> |             
                  <a href="#">
                                <button type="button"
                                class="btn btn-danger"
                                data-mdb-ripple-color="dark">
                                    @Html.ActionLink("Delete","DeleteStudent",
                            new { Id = item.Id},
                            new { onclick = "return confirm('Are sure wants to Delete?');" })
                                </button>

                            </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
